body {
  background-color: #011F3F;
  color: #FEF2BF;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

#level-title {
  font-size: 2rem;
  padding: 2rem;
}

#feedback {
  padding: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;

  grid-template-areas: 
  "btn-green btn-red"
  "btn-container btn-container"
  "btn-yellow btn-blue";

  justify-content: center;
}

.btn {
  box-sizing: border-box;
  margin: 25px;
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 10px solid black;
  border-radius: 10%;
  box-shadow: 2px 2px 20px #515151;
}

.btn-container {
  display: flex;
  grid-area: btn-container;
  justify-content: center;
}

.simon {
  align-self: center;
  font-family: 'Electrolize', sans-serif;
  font-size: 2rem;
}

.control-btn {
  background-color: red;
  border-radius: 100%;
  border: 0;
  box-shadow: 2px 2px 20px #515151;
  height: 50px;
  margin: 0 20px;
  width: 50px;
}

.control-btn:hover {
  box-shadow: 0 0 1rem white;
}

.red {
  background-color: red;
  border-top-right-radius: 100%;
  grid-area: btn-red;
}

.green {
  background-color: green;
  border-top-left-radius: 100%;
  grid-area: btn-green;
}

.blue {
  background-color: blue;
  border-bottom-right-radius: 100%;
  grid-area: btn-blue;
}

.yellow {
  background-color: yellow;
  border-bottom-left-radius: 100%;
  grid-area: btn-yellow;
}

.btn-center {
  align-self: center;
  justify-self: center;
}

.pressed {
  background-color: grey;
  box-shadow: 0 0 20px white;
}

.flash {
  animation: button 0.250s linear;
}
@keyframes button {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.game-over {
  animation: bg 0.250s ease-in-out;
  background-color: red;
}
@keyframes bg {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
