body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.grid-container {
  justify-content: center;
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 200px 200px;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-areas: 
  "btn-green btn-red"
  "btn-yellow btn-blue";

}

.btn {
  box-sizing: border-box;
  margin: 25px;
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  grid-area: "btn-red";
  background-color: red;
}

.green {
  grid-area: "btn-green";
  background-color: green;
}

.blue {
  grid-area: "btn-blue";
  background-color: blue;
}

.yellow {
  grid-area: "btn-yellow";
  background-color: yellow;
}

.btn-center {
  justify-self: center;
  align-self: center;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
